@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

h1 {
    font-family: 'Poppins', sans-serif;

}

h3 {
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 500px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.main > #instr {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 0;
}

.main {
    background-color: aliceblue;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    border-radius: 50px;
}

#slider {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

#gridSize {
    width: 80px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    bottom: 65px;
    position: absolute;
}

button {
    width: 100px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
  }
  
  button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
  };
  
  button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  }

.gridContainer {
    display: grid;
    width: 500px;
    height: 500px;
    border: solid 1px rgb(122, 120, 120);
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.gridItem {
    background-color: white;
}

#color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#color::-webkit-color-swatch {
    border-radius: 50%;
}
#color::-moz-color-swatch {
    border-radius: 50%;
}

#color:hover {
    scale: 1.2;
}

.active {
    background-color: black;
    border: 1px solid white;
    box-shadow: 0 0 0 0 white;
    color: white;
}

#waves {
    position: fixed;
    bottom: 0;
    z-index: -1;
}

footer {
    font-family: 'Poppins', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: black;
}